name: Update Fantasy Data
on:
  schedule:
    - cron: '*/5 * * * *' # Runs every 5 min
  workflow_dispatch: # Allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: 'America/Los_Angeles' # Set the entire runner to PST
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tracker
        run: python tracker.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add league_data.json
          # Only commit if there are actually changes to the file
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update fantasy data" && git push)